[submodule "terminal"]
	path = terminal
	url = https://github.com/nibbula/terminal
[submodule "opsys"]
	path = opsys
	url = https://github.com/nibbula/opsys.git
[submodule "rl"]
	path = rl
	url = https://github.com/nibbula/rl.git
[submodule "deblarg"]
	path = deblarg
	url = https://github.com/nibbula/deblarg.git
[submodule "lish"]
	path = lish
	url = https://github.com/nibbula/lish.git
