[submodule "terminal"]
	path = terminal
	url = https://github.com/nibbula/terminal
[submodule "opsys"]
	path = opsys
	url = https://github.com/nibbula/opsys.git
[submodule "rl"]
	path = rl
	url = https://github.com/nibbula/rl.git
